{% extends 'base.html.twig' %}

{% block title %}New ArtItems{% endblock %}

{% block body %}
    <h1>Create new ArtItems</h1>

    {{ include('art_items/_form.html.twig') }}

    <a href="{{ path('app_art_items_index') }}">back to list</a>
{% endblock %}
