{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    {% if (is_granted('ROLE_ADMIN') == false) %}
        {% set redirectUrl = path('app_art_items_index') %}
        <script>
            window.location.href = "{{ redirectUrl }}";
        </script>
    {% endif %}
    <h1>Edit User</h1>

    {{ include('user2/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user2_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('user2/_delete_form.html.twig') }}

{% endblock %}
